* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  cursor: zoom-in;
}
